@model Parameters

<h1>Martian Robots</h1>

<form method="post">
    <label asp-for="World"></label>
    <textarea asp-for="World" required rows="10"></textarea>
    <button>submit</button>
</form>

@if (Model is object)
{
    <div>
        @if (Model.Output is object)
        {
            <pre>@Model.Output</pre>
        }
        @if (Model.Error is object)
        {
            <span class="error">@Model.Error</span>
        }
    </div>
}
